/* Memu-item选中后的样式 */
.ant-menu-item-selected {
  width: 86% !important;
  margin: 0 auto;
  color: black !important;
  background-color: rgb(227, 227, 227) !important;
  border: none !important;
  border-radius: 12px;
}

/* 去除item选中后右边框 */
.ant-menu-item-selected::after {
  display: none !important;
  /* width: 0!important; */
}

/* 禁止选择 */
.ant-menu-title-content,
.ant-menu-item-selected,
.ant-menu-item-group-title {
  user-select: none;
}

/* Nav标题大小 */
.ant-menu-item-group-title {
  text-align: center;
  font-size: 13px;
}

/* Memu的样式调整 */
.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  transition: all 0.46s;
}
