.box {
  overflow: "hidden";
  width: "24%";
  height: "150px";
}
.box .wrapper {
  overflow: "hidden";
  width: "100%";
  height: "88%";
  border-radius: "12px";
}
.box .wrapper img {
  width: 100%;
}
